[submodule "Image-Viewer"]
	path = Image-Viewer
	url = https://github.com/hamdy-cufe-eng/Image-Viewer.git
[submodule "Dicom-Viewer"]
	path = Dicom-Viewer
	url = https://github.com/hamdy-cufe-eng/Dicom-Viewer.git
[submodule "Nifti-Viewer"]
	path = Nifti-Viewer
	url = https://github.com/hamdy-cufe-eng/nifti-viewer.git
[submodule "HeatMap"]
	path = HeatMap
	url = https://github.com/hamdy-cufe-eng/Heatmap.git
